<!DOCTYPE html>
<html lang="en" class="MY-HTML">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="my-body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:3000">All Lists</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            
            <!-- Add form to create new lists and/or open existing ones -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 my-nav-form-inp" type="search" placeholder="Add or open a list" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
            </form>

        </div>
    </nav>


    <div class="my-box" id="heading">
        <h1 class="l-head"><%= listTitle %></h1>
        <form class="item" id="l-del-form" action="/deleteList" method="post">
            <button class="l-del" type="submit" name="listDel" value="<%= listTitle %>" >-</button>
        </form>
    </div>

    <div class="l-item">
        <div class="my-box">

                <% newListItems.forEach(function(el){ %>

                    <!-- Route to delete items -->
                    <form action="/delete" method="post">
                        
                        <div class="item">
                            <input type="checkbox" name="id_checked" value="<%= el._id %>" onchange="this.form.submit()"> <!-- To submit when checkbox is toggled -->
                            <input type="hidden" name="listName_checked" value="<%= listTitle %>">
                            <p><%= el.task %></p>
                        </div>
                    
                    </form>
                <% }) %>
            
                <!-- Route to add new items -->
                <form class="item-add" action="/" method="post">
                    <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
                    <button class="i-add" type="submit" name="listBtn" value="<%= listTitle %>" >+</button>
                </form>        
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
